body {
    background-image: url("img/mewtwo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: large;
    font-family: 'Cinzel Decorative', cursive;
}

* {
    box-sizing: border-box;
}

.container-fluid {
    display: grid;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.row {
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 800px) {
    .row {
        display: flex;
        flex-direction: column;
    }
}

#main1 {
    width: 50%;
    float: left;    
    padding: 0px 10px 0px 0px;
}

#main2 {
    width: 50%;
    float: left;
    padding: 0px 0px 10px 0px;
}

#left-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.678);
    border-color: black;
    border: 1px solid;
    border-radius: 5% 1% 1% 5%;
    width: auto;
    height: 450px;
    overflow: auto;
}

#right-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 0.678);
    border-color: black;
    border: 1px solid;
    border-radius: 5% 1% 1% 5%;
    width: auto;
    height: 450px;
    overflow: auto;
    
}

#picture {
    width: 100;
    text-align: center; 
    padding: 10px;   
}

#input-campus {
    width: 100%;
    padding: 10px;
}

#input {
    border: solid 3px;
    border-color: purple;
}

#call-pokemon {
    width: 100%;
    padding: 10px; 
}

#change-pokemon {
    width: 100%;
    padding: 10px; 
}

#pokemon-name{
    width: 100%;
    padding: 10px;
    text-align: center;
}
#pokemon-type{ 
    width: 100%;
    padding: 10px;
    text-align: center;
}
#pokemon-powers {
    width: 100%;
    padding: 10px;
    text-align: center;
}

#movement {
    width: 100%;
    padding: 10px;
    text-align: center;
}

#evolution {
    width: 100%;
    padding: 10px;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

img:hover{
    background-color: rgba(238, 130, 238, 0.658);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.types {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.types:hover {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0%;
    margin: 10px;
}

#btn1 {
    border: solid, 1px;
    border: solid, 1px;
    border-color: purple;
    background-color: purple;
    color: white;
    padding: 5px;
    
}
#btn1:hover {
    border-color: purple;
    background-color: rgb(238, 130, 238);
    border: solid, 1px;
    border-color: purple;
}

#btn-previous {
    background-color: purple;
    color: white;
    border-radius: 50%;
    font-size: xx-large;
    border: solid, 1px;
    border-color: purple;
    
}

#btn-next {
    background-color: purple;
    color: white;
    border-radius: 50%;
    font-size: xx-large;
    border: solid, 1px;
    border-color: purple;
}

#btn-previous:hover {
    background-color: rgb(238, 130, 238);
    color: black;
    border: solid, 1px;
    border-color: purple;
}

#btn-next:hover {
    background-color: rgb(238, 130, 238);
    color: black;
    border: solid, 1px;
    border-color: purple;
}
li {
    background-color: white;
    border: solid 5px;
    border-color: white purple white purple;
    text-align: justify;
    padding: 5px;
}
li:last-child {
    background-color: white;
    border: solid 5px;
    border-color: white purple purple purple;
    text-align: justify;
}

h1 {
    background-color: white;
    padding: 15px;
    border: solid 5px;
    border-color: purple purple purple purple;
    color: rgb(221, 42, 221);
}

.title {
    background-color: white;
    padding: 15px;
    margin: 0%;
    border: solid 5px;
    border-color: purple purple white purple;
    color: rgb(221, 42, 221);
}

.title-types {
    background-color: white;
    padding: 15px;
    margin: 0%;
    border: solid 5px;
    border-color: purple purple purple purple;
    color: rgb(221, 42, 221);
}

#last-h2 {
    color: purple;
    text-shadow: 2px 2px rgb(221, 42, 221);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.479);
    border-radius: 15px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 42, 221);
    border-radius: 10px;
}